.section--navigation {
    width: 100%;
}    

.navigation {
    position: relative;
    margin: 0;
    list-style-type: none;
    padding: 0 1em;
}
.nav__item__img{
    height:80px;
}
.nav__utility {
    background-color: black;
    color: white;
    text-align: right;
}
.nav__main {
    background-color: transparent;
    color: black;    
}
.nav__item {
    display: inline-block;
    padding: 0.2em 1em;
}

.nav__item > a,
.nav__item > a:link,
.nav__item > a:hover,
.nav__item > a:visited {
    color: white;
    text-decoration: none;
}